.env

backup
configs/*
!configs/.gitkeep
db/*
!db/.gitkeep

data/osm
data/osm_bright
data/pbf
data/t_rex
data/mbtiles/borneo/*.mbtiles
data/mbtiles/borneo/*.pmtiles
data/mbtiles/*.*
!data/mbtiles/borneo
!data/mbtiles/borneo/fonts
!data/mbtiles/borneo/styles
!data/mbtiles/borneo/config.json
!data/.gitkeep
data/mbtiles/zurich
./styles
./styles/*
backup*

tilemaker/pbf/*.*
!tilemaker/pbf/.gitkeep

index.html

build.yml

ref.txt
